<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{1,1},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{1,118},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{78,1},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{1,235},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{78,118},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{155,1},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{1,352},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{78,235},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{155,118},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{232,1},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{78,352},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{155,235},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{232,118},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{309,1},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{155,352},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{232,235},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{309,118},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{386,1},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{232,352},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{309,235},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{386,118},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{463,1},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{309,352},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{386,235},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{463,118},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{540,1},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{386,352},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{463,235},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{540,118},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{617,1},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{463,352},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{540,235},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{617,118},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{694,1},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{540,352},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{617,235},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{694,118},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{771,1},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{617,352},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{694,235},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{771,118},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{848,1},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{694,352},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{771,235},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{848,118},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{925,1},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{771,352},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{848,235},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{925,118},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{848,352},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{925,235},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{925,352},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>puke_textTure.pvr.ccz</string>
            <key>size</key>
            <string>{1001,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97ec0c7b8ecfc1b3a83459454acc18a4:fb1c82cf404112c2c3043f1a211dcce5:06d336c5c69152e546799f39636da7dd$</string>
            <key>textureFileName</key>
            <string>puke_textTure.pvr.ccz</string>
        </dict>
    </dict>
</plist>
